// Quicksand Light Font face
@font-face {
  font-family: "Quicksand Light";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/Quicksand-Light.woff2") format("woff2");
}

// Quicksand Regular Font face
@font-face {
  font-family: Quicksand;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/Quicksand-Regular.woff2") format("woff2");
}

// Quicksand Medium Font face
@font-face {
  font-family: "Quicksand Medium";
  font-weight: 450;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/Quicksand-Medium.woff2") format("woff2");
}

// Quicksand Bold Font face
@font-face {
  font-family: "Quicksand Bold";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/Quicksand-Bold.woff2") format("woff2");
}

// Boldena Font face
@font-face {
  font-family: "Boldena Bold";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/BoldenaBold.woff2") format("woff2");
}
